
  box-sizing: border-box;


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #158ef1;
}


header {
  background-color: #292975;
  color: rgb(18, 141, 223);
  padding: 20px;
  text-align: center;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #1c1c5c;
  margin: 0;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #2196e4;
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

  background-image: url("estilosjee/fondo.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.caja {
  background-color: rgba(49, 68, 241, 0.92);
  border: 2px solid #3235e6;
  padding: 15px;
  border-radius: 10px;
}

.caja img {
  width: 100%;
  border-radius: 10px;
}


.tabla-container {
  grid-column: 1 / -1;
  background-color: rgba(31, 123, 228, 0.92);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #306beb;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}


footer {
  background-color: #292975;
  color: rgb(29, 112, 221);
  text-align: center;
  padding: 20px;
}